<%=provide(:title, "About")%>

<div class='jumbotron'>

<h1>Site Currently Under Construction!</h1>
<p>This site is a working framework which will be implemented in the
  construction of many other sites</p>
</div>
