<%=provide(:title, "Home")%>
<div class="jumbotron">
<div class="panel panel-default">

  <div class="panel-heading">

    <h1>ProNow Listing Service</h1>
  </div>
  <div class="panel-body">
    <p>The new CregsList...</p>
    <%=link_to "Contact", contact_path, class:"btn btn-primary"%>
  </div>
</div>
</div>
