<%=provide(:title, "Home")%>
<div class="jumbotron">
<div class="panel panel-default">

  <div class="panel-heading">

    <h1>ProNow Listing Service</h1>
  </div>
  <div id="div2" class="panel-body">

    <p id="para1">The new CregsList...</p>


    <%=link_to "Contact", contact_path, class:"btn btn-primary"%>
  </div>
</div>
</div>
